#gameBoard, #showPlayerTwo, #twoPlayerButtons, #playerButtons, #playerTwoButtons {
  display: none;
}

#userName {
  text-transform: capitalize;
}
.win {
  display: none;
}
.computer-win {
  display: none;
}

.single-player-scores {
  display:none;
}

.two-player-scores {
  display: none;
}
